@font-face {
    font-family: 'BroshK';
    src: url('BroshK.eot');
    src: url('BroshK.eot?#iefix') format('embedded-opentype'),
        url('BroshK.woff2') format('woff2'),
        url('BroshK.woff') format('woff'),
        url('BroshK.ttf') format('truetype'),
        url('BroshK.svg#BroshK') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
