ul#menu-footer-menu.menu {
  width: auto;
}

#qodef-page-footer .widget ul:not(.qodef-shortcode-list) li a,
#qodef-page-footer [class*=sp-widget] ul:not(.qodef-shortcode-list) li a {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: normal;
  font-family: "Montserrat";
  font-size: 17px;
}

#qodef-page-footer .widget a,
#qodef-page-footer [class*=sp-widget] a {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 17px;

  &:hover {
    color: #000000;
  }
}