.qodef-fullscreen-menu-holder {
  width: 20%;
  right: 0;
  left: unset;
  padding: 60px;
  background: #00AEEF;
}

#qodef-page-header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px 0 40px;
}

#qodef-page-header .qodef-header-logo-image .qodef--main .qodef-header-logo-link img {
  display: block;
  margin: 0 auto;
  width: 200px;
  max-height: unset;
}

img#qodef-page-header .qodef-header-logo-link img:not(.qodef--main) {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 100%;
}

@media only screen and (max-width: 1024px) {
  .qodef-fullscreen-menu-holder {
    width: 50%;
    right: 0;
    left: unset;
    padding: 60px;
    background: #00AEEF;
  }
}

h3.qodef-e-title.entry-title {
  letter-spacing: 5px !important;
}

h3.qodef-related-posts-title {
  letter-spacing: 5px !important;
}

h3.comment-reply-title {
  letter-spacing: 5px !important;
}

/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #00aeef !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 4px;
  width: 190px;
  position: absolute;
  z-index: 1000;
  transition: all .25s ease;
  cursor: pointer;

  &:hover {
    color: red;
  }
}


.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
  font-size: 15px;
  font-weight: bold;

}

.float-fb {
  top: 0;
  right: 20%;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}

/* Floating Social Media Bar Style Ends Here */

.vc-hoverbox-block.vc-hoverbox-front {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

label {
  display: block;
  margin-bottom: 9px;
  color: #000000;
  line-height: 1.1em;
  font-weight: normal;
  letter-spacing: .3em;
  text-transform: uppercase;
  padding: 0;
  text-transform: capitalize;
  font-size: 17px;
  font-family: "Montserrat";

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.qodef-page-title .qodef-m-title {
  color: #ffffff;
  display: none;
}

.qodef-shortcode.qodef-m.qodef-icon-holder.qodef-size--small.qodef-layout--normal {
  >a {
    font-size: 40px !important;
  }
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  font-size: 17px;
  font-family: "Montserrat";

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.volunteer-with-us {
  @media (max-width: 768px) {
    margin: 33px 15px 0;
  }

  >a.qodef-button {
    @media (max-width: 768px) {
      padding: 0px 6px;

      >span {
        font-size: 12px;

      }
    }
  }
}

.qodef-swiper-container .swiper-slide a,
.qodef-swiper-container .swiper-slide img {
  width: 172px;
}

.qodef-e-info-date a {
  font-size: 17px;
  text-transform: capitalize;
}

@media (min-width: 1024px) {
  #text-10.widget.widget_text>.textwidget>p {
    font-size: 17px
  }
}

@media (max-width: 680px) {
  .qodef-page-title .qodef-parallax-img-holder {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .qodef-icon-elegant-icons {
    font-size: medium;
  }

  .sp-post-content {
    padding: 0 10%;
  }

  .sp-post-content h2 {
    font-weight: 700;
    font-size: 28px;
  }
}

.link-edin>.fa {
  color: #000 !important;

}

.link-edin>.fa:hover {
  color: #1072ba !important;

}

@media (min-width: 767px) {
  .qodef-fullscreen-menu-holder {
    width: 25%;
  }

  .lgx-milestone .lgx-counter-area {
    margin-bottom: 0 !important;
  }

  .wpb_button,
  .wpb_content_element,
  ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0 !important;
  }

  .volunteer-with-us {
    position: fixed;
    top: 120px;
    right: -1%;

  }

  .volunteer-with-us>a.qodef-button.qodef-size--small {
    padding: 10px 45px 10px 20px;
    font-size: 18px;
  }
}

#qodef-page-header-inner .qodef-header-logo-link img.qodef-header-logo-image {
  max-height: 200px;
  top: 60px;
}

@media (max-width: 767px) {
  .qodef-fullscreen-menu-holder {
    width: 75%;
  }
}

#qodef-page-footer-bottom-area .qodef-col-num--3 .qodef-grid-item:nth-child(3) {
  text-align: center;
}