.heroes-image.qodef-image-with-text {
    >.qodef-m-image a img {
        border-radius: 80%;
        width: 300px;
    }

    >.qodef-m-image img {
        border-radius: 80%;
        width: 300px;
    }
}

span.qodef-icon-elegant-icons.social_linkedin.qodef-icon.qodef-e {
    margin: 0 auto;
    position: absolute;
    left: 48%;
}

p.sp-excerpt {
    font-size: 20px;
}

.sp-post-content {
    width: 100%;
    padding: 0 20% 0 20%;
    font-size: 20px;

    h2 {
        font-weight: bold;
    }
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
    padding: 10px;
    margin: 10px 0;
}

.qodef-header--minimal #qodef-page-header {
    height: 160px;
}

#text-10.widget.widget_text {
    >.textwidget>p {
        color: #ffffff;

        @media (min-width: 1024px) {
            margin-top: 30px;
        }
    }
}

.lgx-counter-area>img {
    display: none;
}

span.lgx-counter {
    font-family: "Montserrat";
    letter-spacing: 5px;
}

small.counter-text {
    font-family: "Montserrat";
}